@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.3%;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background-color: #060916;
    color: #f1f3f5;
    max-width: 100rem;
    margin: auto;
    padding: 3.2rem;
}
button{
    font-family: inherit;
    color: inherit;
    border: 2px solid transparent;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
}
.btn{
    background-color: #233783;
    padding: .8rem 2.2rem;
    margin-top: 2.4rem;
    transition: all 400ms;
}
.btn:hover{
    background-color: #14225c;
}
.header .logo-box{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    animation: InfiniteRotation 3.5s infinite;
}
.header .quiz-lifes{
    font-size: 2rem;
}

.container{
    margin: 4rem auto;
    max-width: 80%;
}
.pontuation-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}
.current-question-number{
    border: 2px solid rgba(241, 243, 245, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: .8rem;
}
.progress-bar{
    appearance: inherit;
    border-radius: 100px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 2.4rem;
}
.progress-bar::-webkit-progress-bar{
    background-color: #2336831e;
}
.progress-bar::-webkit-progress-value{
    background-color: #233783;
    border-radius: 100px;
    transition: all 600ms ease-in;
}
.score{
    border: 2px solid rgba(241, 243, 245, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.score span{
    padding: .8rem;
    font-weight: 700;
}
.max-score{
    background-color: #233783;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.question{
    border:2px solid #233783;
    background-color: #233783;
    padding: 3.6rem 1.4rem;
    border-radius: 14px;
}

.answers{
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.answer button{
    background-color: rgba(241, 243, 245, 0.1);
    padding: 2rem;
    width: 100%;
}
.answer button:hover{
    background-color:  #c278091c;
}

.duration span{
    border: 2px solid #ffffff2c;
    padding: .8rem  1.6rem;
    border-radius: 14px;
}

.start-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.4rem .8rem;
    background-color: rgba(35, 54, 131, 0.1);
    text-align: center;
    border-radius: 14px;
    border: 3px solid #7b87b549;
    box-shadow: 1px 1px 1px 12px #7b87b549;
}
.start-box .logo{
    margin-bottom: 2rem;
}
.start-box .btn{
    margin-top: 5.2rem;
    padding: 1.6rem 5.2rem;
}
.app-name{
    color: #7b87b5;
}
.app-creater{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: #a7afcd;
}
.restart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.4rem;
}
.restart-msg{
    text-align: center;
    font-size: 2.6rem;
}

.stats{
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
}

.stats .stat{
    background-color: rgba(35, 54, 131, 0.123);
    padding: 2.4rem 4.4rem;
    border-radius: 14px;
}
.stats .stat>div{
    background-color: rgba(35, 54, 131, 0.123);
    padding: 1.8rem;
    border-radius: 14px;
}
.stats .stat>div>strong{
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.884);
}
.details-box{
    margin-top: 4.4rem;
}
.details-header{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.2rem;
}
.details{
    margin-top: 2.4rem;
}
.details-btn{
    background-color: transparent;
}
.details li{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: 1.8rem;
}
.correct{
    border: 2px solid #5ad15a9c; 
}
.wrong{
    border: 2px solid #be3333e3;
}

@keyframes InfiniteRotation {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);
    }
}

/* HELPER CLASSES */
.green {
    color: #5ad15a9c;
}
.red {
    color: #be3333e3;
}

@media (max-width:62em) {
    html{
        font-size: 63.2%;
    }
}
@media (max-width:60em) {
    html{
        font-size: 45%;
    }
}
@media (max-width:46em) {
    html{
        font-size: 40%;
    }
    
}
@media (max-width:39em) {
.container{
    max-width: 100%;
}
}
@media (max-width:30em) {
    html{
        font-size: 45%;
    }
    .stats{
            flex-direction: column;
        }

    .stats .stat{
        text-align: center;
    }
}