@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.3%;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background-color: #060916;
    color: #f1f3f5;
    max-width: 100rem;
    margin: auto;
    padding: 3.2rem;
}
button{
    font-family: inherit;
    color: inherit;
    border: 2px solid transparent;
    outline: none;
    border-radius: 14px;
    cursor: pointer;
}
.header .logo-box{
    display: flex;
    align-items: center;
    gap: .4rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    animation: InfiniteRotation 3.5s infinite;
}
.header .quiz-lifes{
    font-size: 2rem;
}

.container{
    margin: 4rem auto;
    max-width: 80%;
}

.pontuation-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.current-question-number{
    border: 2px solid rgba(241, 243, 245, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: .8rem;
}

.score{
    border: 2px solid rgba(241, 243, 245, 0.1);
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.score span{
    padding: .8rem;
    font-weight: 700;
}
.max-score{
    background-color: #233783;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.question{
    border:2px solid #233783;
    background-color: #233783;
    padding: 3.6rem 1.4rem;
    border-radius: 14px;
}

.answers{
    margin-top: 2.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.answer button{
    background-color: rgba(241, 243, 245, 0.1);
    padding: 2rem;
    width: 100%;
}
.answer button:hover{
    background-color:  #c278091c;
}

.remaining-time-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
}
.remaining-time{
    font-size: 2.4rem;
}

.next-btn:hover{
    background-color: #14225c;
}

.restart-msg{
    text-align: center;
    font-size: 2.6rem;
}

.restart-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.4rem;
}

.restart-btn{
    background-color: #233783;
    padding: .8rem 2.2rem;
    margin-top: 2.4rem;
    transition: all 400ms;
}
.restart-btn:hover{
    background-color: #14225c;
}

.stats{
    display: flex;
    justify-content: space-around;
    gap: 1.2rem;
}

.stats .stat{
    background-color: rgba(35, 54, 131, 0.123);
    padding: 2.4rem 4.4rem;
    border-radius: 14px;
}
.stats .stat>div{
    background-color: rgba(35, 54, 131, 0.123);
    padding: 1.8rem;
    border-radius: 14px;
}
.stats .stat>div>strong{
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.884);
}
.details-box{
    margin-top: 4.4rem;
}
.details-header{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.details{
    margin-top: 2.4rem;
}
.details-btn{
    background-color: transparent;
}
.details li{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: 1.8rem;
}
.correct{
    border: 2px solid #5ad15a9c; 
}

.wrong{
    border: 2px solid #be3333e3;
}

@keyframes InfiniteRotation {
    0%{
        transform: rotate(0);
    }100%{
        transform: rotate(360deg);
    }
}

/* HELPER CLASSES */
.green {
    color: #5ad15a9c;
}
.red {
    color: #be3333e3;
}